@import "tailwindcss";

.roboto{
  font-family: var(--font-roboto);
}

@theme inline {

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



body {

  font-family: Arial, Helvetica, sans-serif;
}
